{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatem vitae blanditiis ab. Obcaecati aut quaerat veniam, quos quibusdam ipsum aliquam, dolorem totam nemo quasi natus in ipsa? Rerum quos omnis ratione, laborum exercitationem consequatur sequi harum fuga quidem perferendis cupiditate accusamus optio laboriosam beatae? Voluptatum, ipsa. Iste eius nulla distinctio rerum, eveniet quasi pariatur, voluptatem maxime minus commodi, quisquam corrupti quia possimus. Hic fugit repellat omnis nesciunt. Pariatur recusandae dolorem, fugiat similique saepe, debitis cum incidunt ratione voluptatum quaerat harum hic aut autem! Aliquid neque, architecto deserunt facilis, quisquam ab libero iusto voluptas officia at pariatur vitae dolorum. Alias.</p>
<p>website created by {{username}}</p>

{% endblock %}